$white: #fff;
$off-white: #f5f5f5;

@font-face {
  font-family: 'slab';
  src: url(fonts/RobotoSlab-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'mono';
  src: url(fonts/RobotoMono-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'sand';
  src: url(fonts/Quicksand-Regular.ttf) format('truetype');
}

html {
  font-family: 'slab';
  background-color: $off-white;
}

body {
  background-color: $off-white;
}

md-content {
  width: 100%;
}

[layout=row] {
  flex-direction: row;
}

.techs {
  display: flex;
  flex-flow: row wrap;

  md-card {
    width: 30%;

    img.pull-right {
      float: right;
      width: 100px;
    }
  }
}

.shadow-1 {
  box-shadow: 1px 1px 10px rgba(0,0,0,.1);
}

