$white: #fff;
$off-white: #f5f5f5;

@font-face {
  font-family: 'slab';
  src: url(fonts/Roboto_Slab/RobotoSlab-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'mono';
  src: url(fonts/Roboto_Mono/RobotoMono-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'sand';
  src: url(fonts/Quicksand/Quicksand-Regular.ttf) format('truetype');
}

html {
  font-family: 'slab';
  background-color: $off-white;
}

body {
  background-color: $off-white;
}

.shadow-1 {
  box-shadow: 1px 1px 10px rgba(0,0,0,.1);
}

/*material edits*/

md-content {
  width: 100%;
}

md-card {
  margin: 5px;

  img.pull-right {
    float: right;
    width: 100px;
  }
}

md-input-container {
    width: 100%;
}

.md-button-wrapper i {
    margin-top: 2px;
}