// COLOR PRESETS

$white: #fff;
$off-white: #f5f5f5;

[color-white],
.color-white {
  color: $white !important;
}

[back-white],
.back-white {
  background: $white !important;
}

[color-off],
.color-off {
  color: $off-white !important;
}

[back-off],
.back-off {
  background: $off-white !important;
}

// FLEX PRESETS

[row] {
  display: flex;
  flex-direction: row;
}

[column] {
  display: flex;
  flex-direction: column;
}

[wrap] {
  flex-wrap: wrap;
}

.flow-start {
  justify-content: flex-start;
}

.flow-end {
  justify-content: flex-end;
}

.flow-center {
  justify-content: center;
}

.flow-even {
  justify-content: space-evenly;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-stretch {
  align-items: stretch;
}

.items-baseline {
  align-items: baseline;
}

.content-center {
  align-content: center;
}

.content-stretch {
  align-content: stretch;
}

// MEDIA QUERIES (DYNAMIC SIZING)

// < SM
@media screen and (max-width: 599px) {
  [lt-sm-row] {
    display: flex !important;
    flex-direction: row !important;
  }

  [lt-sm-column] {
    display: flex !important;
    flex-direction: column !important;
  }

  @for $i from 1 through 100 {
    .lt-sm-flex-#{$i} {
      width: 0% + $i !important;
    }
    .lt-sm-fixed-#{$i * 10} {
      width: 10px * $i !important;
    }
  }
}

// > SM
@media screen and (min-width: 600px) {
  [gt-sm-row] {
    display: flex !important;
    flex-direction: row !important;
  }

  [gt-sm-column] {
    display: flex !important;
    flex-direction: column !important;
  }

  @for $i from 1 through 100 {
    .gt-sm-flex-#{$i} {
      width: 0% + $i !important;
    }
    .gt-sm-fixed-#{$i * 10} {
      width: 10px * $i !important;
    }
  }
}

// < MD
@media screen and (max-width: 959px) {
  [lt-md-row] {
    display: flex !important;
    flex-direction: row !important;
  }

  [lt-md-column] {
    display: flex !important;
    flex-direction: column !important;
  }

  @for $i from 1 through 100 {
    .lt-md-flex-#{$i} {
      width: 0% + $i !important;
    }
    .lt-md-fixed-#{$i * 10} {
      width: 10px * $i !important;
    }
  }
}

// > MD
@media screen and (min-width: 960px) {
  [gt-md-row] {
    display: flex !important;
    flex-direction: row !important;
  }

  [gt-md-column] {
    display: flex !important;
    flex-direction: column !important;
  }

  @for $i from 1 through 100 {
    .gt-md-flex-#{$i} {
      width: 0% + $i !important;
    }
    .gt-md-fixed-#{$i * 10} {
      width: 10px * $i !important;
    }
  }
}

// < LG
@media screen and (max-width: 1279px) {
  [lt-lg-row] {
    display: flex !important;
    flex-direction: row !important;
  }

  [lt-lg-column] {
    display: flex !important;
    flex-direction: column !important;
  }

  @for $i from 1 through 100 {
    .lt-lg-flex-#{$i} {
      width: 0% + $i !important;
    }
    .lt-lg-fixed-#{$i * 10} {
      width: 10px * $i !important;
    }
  }
}

// > LG
@media screen and (min-width: 1280px) {
  [gt-lg-row] {
    display: flex !important;
    flex-direction: row !important;
  }

  [gt-lg-column] {
    display: flex !important;
    flex-direction: column !important;
  }

  @for $i from 1 through 100 {
    .gt-lg-flex-#{$i} {
      width: 0% + $i !important;
    }
    .gt-lg-fixed-#{$i * 10} {
      width: 10px * $i !important;
    }
  }
}

@for $i from 1 through 100 {

  .flex-#{$i} {
    width: 0% + $i;
  }

  .fixed-#{$i * 10} {
    width: 10px * $i;
  }

  .height-#{$i * 10} {
    height: 10px * $i;
  }

  .font-#{$i} {
    font-size: 0px + $i;
  }

  .em-#{$i} {
    font-size: 0em + ($i * .1);
  }

  .down-#{$i} {
    margin-top: 0px + $i;
  }

  .up-#{$i} {
    margin-top: 0px - $i;
  }

}

// IMAGE PRESETS

@for $i from 1 through 5 {
  .blur-#{$i} {
    filter: blur(0px + $i);
  }

  .brightness-#{$i * 20} {
    filter: brightness(0% + ($i * 20));
  }

  .contrast-#{$i * 20} {
    filter: contrast(0% + ($i * 20));
  }

  // .grayscale-#{$i * 20} {
  //   filter: grayscale(0% + #{$i * 20});
  // }

  .sepia-#{$i * 20} {
    filter: sepia(0% + ($i * 20));
  }

  .saturate-#{$i} {
    filter: saturate($i);
  }

  .opacity-#{$i * 20} {
    opacity: ($i * 20) / 100;
  }
}

.background-img {
  width: 100%;
  height: 100%;
}

// FONT PRESETS

@font-face {
  font-family: 'slab';
  src: url(fonts/Roboto_Slab/RobotoSlab-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'mono';
  src: url(fonts/Roboto_Mono/RobotoMono-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'sand';
  src: url(fonts/Quicksand/Quicksand-Regular.ttf) format('truetype');
}

[slab] {
  font-family: slab !important;
}

[mono] {
  font-family: mono !important;
}

[sand] {
  font-family: sand !important;
}

.upper {
  text-transform: uppercase;
}

html {
  font-family: slab !important;
  background-color: $off-white;
}

strong {
  text-transform: uppercase;
  font-family: sand;
}

h1, h2, h3, p,
button span,
mat-card-title,
mat-card-subtitle {
  font-family: slab !important;
}

// STYLES

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: $off-white;
}

a {
  text-decoration: none;
}

.front {
  z-index: 1000;
}

.top {
  z-index: 1010;
}

.txt-c {
  text-align: center;
}

.txt-j {
  text-align: justify;
}

.txt-r {
  text-align: right;
}

section.jumbotron {
  padding: 1px 30px;
  text-align: center;

  h1 {
    font-size: 3em;
  }
}

h1.header {
  font-size: 2.3em;
}

.header {
  text-align: center;
  margin: 0;
  border-bottom: rgba(0, 0, 0, .1) thin solid;
}

.dark .header {
  border-bottom-color: rgba(255, 255, 255, 0.1);
}

.shadow-1 {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
}

.spacer {
  height: 75px;
}

.no-pad {
  padding: 0;
}

.full-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover {
  object-fit: cover;
}

.fit {
  object-fit: contain;
}

.events-ignore {
  pointer-events: none;
}

.event-visible {
  pointer-events: visible;
}

[my-button] {
  border: 2px solid;
  padding: 10px 30px;
  background: transparent;
  cursor: pointer;
  transition: all .3s ease;
}

[my-button]:hover {
  color: white !important;
}

/*material edits*/

mat-card {
  margin: 5px;

  img.pull-right {
    float: right;
    width: 100px;
  }
}

mat-input-container {
  width: 100%;
}

.mat-button-wrapper i {
  margin-top: 2px;
}
