$white: #fff;
$off-white: #f5f5f5;

[color-white] {
  color: $white !important;
}

[back-white] {
  background: $white !important;
}

[color-off] {
  color: $off-white !important;
}

[back-off] {
  background: $off-white !important;
}

@font-face {
  font-family: 'slab';
  src: url(fonts/Roboto_Slab/RobotoSlab-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'mono';
  src: url(fonts/Roboto_Mono/RobotoMono-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'sand';
  src: url(fonts/Quicksand/Quicksand-Regular.ttf) format('truetype');
}

[slab] {
  font-family: slab !important;
}

[mono] {
  font-family: mono !important;
}

[sand] {
  font-family: sand !important;
}

html {
  font-family: slab !important;
  background-color: $off-white;
}

strong {
  text-transform: uppercase;
  font-family: sand;
}

//default to slab font
h1, h2, h3, p,
button span,
mat-card-title,
mat-card-subtitle {
    font-family: slab !important;
}

body {
  background-color: $off-white;
}

a {
  text-decoration: none;
}

.txt-c {
  text-align: center;
}

.txt-j {
  text-align: justify;
}

.txt-r {
  text-align: right;
}

img {
    width: 100%;
    margin-bottom: -4px;
}

section.jumbotron {
  padding: 1px 30px;
  text-align: center;

  h1 {
    font-size: 3em;
  }
}

h1.header {
  font-size: 2.3em;
}

.header {
    text-align: center;
    margin: 20px;
    border-bottom: rgba(0,0,0,.1) thin solid;
}

.dark .header {
    border-bottom-color: rgba(255, 255, 255, 0.1);
}

.shadow-1 {
  box-shadow: 1px 1px 10px rgba(0,0,0,.1);
}

.spacer {
  height: 75px;
}

/*material edits*/

mat-content {
  width: 100%;
}

mat-card {
  margin: 5px;

  img.pull-right {
    float: right;
    width: 100px;
  }
}

mat-input-container {
    width: 100%;
}

.mat-button-wrapper i {
    margin-top: 2px;
}